/* Estilos globales de body ahora en src/styles.css */

.estrella { font-size: 2rem; cursor: pointer; }

.rating-stars {
    font-size: 1.8rem; /* Tamaño de las estrellas */
    color: #ffc107; /* Color dorado */
}

/* Estilo para cada estrella individual */
.estrella {
    cursor: pointer; /* Indica que es interactiva */
    margin: 0 3px;
    transition: transform 0.1s;
}

/* Efecto de sombra sutil al pasar el ratón */
.estrella:hover {
    transform: scale(1.1); 
}

    
/* Vista previa de la imagen adjunta */
.preview {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.preview img {
  max-height: 200px;
  object-fit: cover;
}
